
.container-main{
     padding: '40px 20px 20px 20px' 
}

.product{
     font-weight: bolder;
}
.size-button{
	background-color: powderblue;
	border-radius: 50px;
}
.second-row{
	margin-top: 50px;
}
.size-button2{
	background-color: powderblue;
	border-radius: 50px;
}
.size-button3{
	background-color: powderblue;
	border-radius: 50px;
}
.size-button4{
	background-color: powderblue;
	border-radius: 50px;
}
.size-button5{
	background-color: powderblue;
	border-radius: 50px;
}
.size-button6{
	background-color: powderblue;
	border-radius: 50px;
}
.size-button7{
	background-color: powderblue;
	border-radius: 50px;
}
  